{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block meta %} {% endblock meta %}
  </head>

  <body> 
    <div class="decoration circlePosition z-0 bg-sky-200 rounded-[100%] fixed w-[520px] h-[400px] top-5 blur-[90px] right-0" ></div>
    <div class="decoration circlePosition z-0 bg-rose-200 rounded-[100%] fixed w-[560px] h-[400px] bottom-3 blur-[90px] left-0" ></div>
  
    {% block content %} {% endblock content %}
  </body>
</html>