{% load static %}
<div class="relative break-inside-avoid">
  <div class="relative top-5 bg-gray-100 shadow-md rounded-lg mb-6 break-inside-avoid space-evenly flex flex-row border-2 border-gray-300 p-4">
    
    <div class="flex flex-col items-center">
      {% include 'image.html' %}
      <!-- Informasi harga -->
      <h2 class="text-2xl font-extrabold text-slate-700"> Rp {{item.price}}</h2>
    </div>
    
    <!-- informasi nama dan deskrisi-->
    <div class="flex flex-col space-around ml-6">
      <div class="flex">
        <h2 class="flex text-3xl font-semibold text-gray-500">{{ item.name }}</h2>
      </div>
      <div class="flex">
        <p class="text-black">{{ item.description }}</p>
      </div>
      
    </div>
  </div>

  <div class="absolute bottom-0 -right-0 flex space-x-2 mr-2">
    <a href="{% url 'main:delete_item' item.pk %}" class="bg-rose-500 hover:bg-rose-600 text-white rounded-full p-2 transition duration-300 shadow-md">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
        <path d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z"></path>
    </svg>
    </a>
    <a href="{% url 'main:edit_item' item.pk %}" class="bg-sky-500 hover:bg-sky-600 text-white rounded-3xl p-2 transition duration-300 shadow-md">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 24 24"> <path d="M 18 2 L 15.585938 4.4140625 L 19.585938 8.4140625 L 22 6 L 18 2 z M 14.076172 5.9238281 L 3 17 L 3 21 L 7 21 L 18.076172 9.9238281 L 14.076172 5.9238281 z"></path> </svg>
    </a>
  </div>
  
</div>
