{% extends 'base.html' %}
{% block content %}
<h1>Kanade Record Store</h1>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>NPM:</h5>
<p>{{ npm }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% if not items %}
<p>Belum ada data item pada Kanade Record Store.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for item in items %}
  <tr>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_item_entry' %}">
  <button>Add New Item Entry</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
{% endblock content %}