<nav class="fixed top-5 z-50 inset-x-5 backdrop-blur bg-gradient-to-br from-rose-300/10 to-sky-200/10 rounded-2xl shadow-2xl border-2 border-opacity-30 border-white ">
    <div class="flex justify-between items-center px-6 md:px-8 sm:px-6 h-16 ">
        <h1 class="text-slate-700 font-extrabold text-center text-3xl"> Kanade Record </h1>
        <div class="hidden md:flex items-center ">
            <span class="mr-4 text-slate-700"> Welcome, {{ user.username }} </span>
            <a href="{% url 'main:logout' %}" class="bg-red-500 hover:bg-red-600 font-bold text-white text-xl transition duration-700 rounded px-4 py-2">Logout</a>
        </div>
        <div class="flex md:hidden items-center">
            <button class="mobile-menu-button rounded hover:bg-gray-300 p-1">
                <svg class="w-6 h-6 text-slate-700" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                    <path d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
    </div>
    <!-- Mobile menu -->
<div class="mobile-menu hidden md:hidden  px-4 w-full md:max-w-full">
    <div class="pt-2 pb-3 space-y-1 mx-auto">
        <span class="block text-slate-700 px-3 py-2">Welcome, {{ user.username }}</span>
        <a href="{% url 'main:logout' %}" class="block text-center bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300">
            Logout
        </a>
    </div>
</div>
<script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
    menu.classList.toggle("hidden");
    });
</script>
</nav>